Materiais/
Ponto/
Pesquisa_Innovare/
*.ini
Projeto_ITP.pdf
*.bcf
*.aux
*.fls
*.blg
*.xml
*.synctex.gz
*.bbl
*.log
*.fls*.fdb_latexmk
*.json
*.doc
.vscode/
.ipynb_checkpoints/
*.jar
Modelo/Datasets_Completos/
Notificações/EpingNotifications.csv
$tempFile
.Rhistory